/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #000; /* Cor preta para todo o texto */
  }
  
  /* Estilos para a seção de fundo */
  .background-section {
    background: url('https://imgs.search.brave.com/UHVhHVab_MJMdqgTv4w_4-ehKM5TCow74Kjntod_Yqo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/c2hvcGlmeS5jb20v/cy9maWxlcy8xLzA4/MTIvOTc1Ny8yMTMw/L2ZpbGVzL2dpZmZs/dWZmei53ZWJwP3Y9/MTcxMDc3NDQ5Mg') no-repeat center center/cover;
    height: 100vh; /* Ajuste a altura para cobrir toda a altura da tela */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    background-attachment: fixed; /* Garante que o fundo fique fixo ao rolar */
  }
  
  /* Título */
  .background-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.5);
  }
  
  /* Parágrafo */
  .background-section p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.938);
  }
  
  /* Botão de chamada para ação */
  .cta-button {
    background-color: #6da9cc;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #0f6ea5;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .background-section {
        height: 60vh; /* Ajuste a altura para telas menores */
    }
  
    .background-section h1 {
        font-size: 2rem;
    }
  
    .background-section p {
        font-size: 1.2rem;
    }
  
    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
  }
  
  @media (max-width: 480px) {
    .background-section {
        height: 50vh; /* Ajuste a altura para telas ainda menores */
    }
  
    .background-section h1 {
        font-size: 1.5rem;
    }
  
    .background-section p {
        font-size: 1rem;
    }
  
    .cta-button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
  }
  
  
  
  
  
  
  /*-----------*/
  
  /* Cabeçalho */
  header {
    background-color: #6da9cc;
    padding: 20px;
    text-align: center;
    color: #fff; /* Cor branca para o texto no cabeçalho */
  }
  
  header h1 {
    font-size: 2.5rem;
  }
  
  /* Seções */
  main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #000; /* Cor preta garantida para o texto das seções */
  }
  
  .intro {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .intro h2 {
    color: #6da9cc;
    font-size: 2rem;
  }
  
  .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .benefit {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .benefit h3 {
    color: #6da9cc;
    margin-bottom: 10px;
  }
  
  /* Seção de vídeo */
  .video-section {
    text-align: center;
    margin: 40px 0;
  }
  
  .video-section h2 {
    color: #6da9cc;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .video-section video {
    border: 2px solid #1E90FF;
    border-radius: 8px;
    max-width: 70%;
    max-height: 50%;
  }
  
  .cta {
    text-align: center;
    margin-top: 40px;
  }
  
  .cta button {
    background-color: #6da9cc;
    color: #fff; /* Cor branca para o texto do botão */
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    animation: pulsar 2s infinite;/*animação pulsante*/
  }
  
  .cta button:hover {
    background-color: #005fbb;
  }
  
  /* Animação do botão */
  @keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Aumenta o botão em 10% */
    }
    100% {
        transform: scale(1);
    }
  }
  
  
  /* Rodapé */
  footer {
    background-color: #6da9cc;
    color: #fff; /* Cor branca para o texto no rodapé */
    text-align: center;
    padding: 10px;
    margin-top: 20px;
  }
  
  footer p {
    font-size: 0.9rem;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
  
    .cta button {
        font-size: 1rem;
        padding: 10px 20px;
    }
  }
  
  /*-------------------------*/
  
  
  /*Texto*/
  
  /* Header Animation */
  header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #3bc1ff, #ffc3a0);
    color: #fff;
    animation: pulse 3s ease-in-out infinite;
    cursor: pointer;
    margin-top: 100px;
    border-radius: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  header:hover {
    transform: translateY(-5px);
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    }
    50% {
      transform: scale(1.05);
      box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
    }
  }
  
  h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Intro Section */
  .intro {
    padding: 40px 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 30px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .intro h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .intro p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #555;
  }
  
  .intro ul {
    list-style-type: none;
    padding: 0;
  }
  
  .intro li {
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
  }
  
  /* Call-to-Action Button */
  .cta-btn {
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #6da9cc;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(255, 175, 189, 0.4);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .cta-btn:hover {
    background-color: #ffc3a0;
    transform: translateY(-3px);
  }
  
  
  /*Slider*/
  
  .container {
    width: 600px;
    margin: 0 auto;
  }
  .slider {
    position: relative;
    max-width: 100%;
    margin: 20px 0;
    overflow: hidden;
    border-radius: 10px;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .slide img {
    width: 100%;
    border-radius: 10px;
  }
  .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  .nav-button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
  }
  .nav-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /*  Badges  */
  
  /* Social Media Section */
  .social-media {
    background-color: #f7f7f7;
    padding: 40px 20px;
    text-align: center;
    border-radius: 20px;
    margin: 50px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  .social-media h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .social-media p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #555;
  }
  
  .badge-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ffafbd;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 175, 189, 0.4);
  }
  
  .badge img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .badge:hover {
    background-color: #ffc3a0;
    transform: translateY(-5px);
  }
  
  /* Custom Colors for Each Badge */
  .badge.email {
    background-color: #3b82f6;
  }
  
  .badge.tiktok {
    background-color: #ff0050;
  }
  
  .badge.instagram {
    background-color: #833ab4;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  }
  
  .badge.whatsapp {
    background-color: #25D366;
  }

 /* Rastreo do pedido */

 /* Seção de rastreamento com layout de cartão */
.tracking-section {
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
}

.tracking-card {
  background-color: #fff;
  padding: 40px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tracking-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.tracking-card h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.tracking-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

.tracking-card .input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tracking-card input[type="text"] {
  flex: 1;
  padding: 15px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.tracking-card input[type="text"]:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tracking-card button {
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.tracking-card button:hover {
  background-color: #0056b3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
  .tracking-card {
    padding: 30px 20px;
  }

  .tracking-card h2 {
    font-size: 24px;
  }

  .tracking-card p {
    font-size: 14px;
  }

  .tracking-card .input-group {
    flex-direction: column;
    gap: 15px;
  }

  .tracking-card input[type="text"],
  .tracking-card button {
    width: 100%;
  }
}




  
  /* Estilos app de avaliação */ 
  
  
  /*.container2 {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 20px;
    display: flex;
  }*/
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .average-rating {
    margin-top: 15px;
  }
  
  .average-rating h2 {
    font-size: 20px;
    color: #555;
  }
  
  .stars-average .star {
    color: #FFD700;
    font-size: 22px;
  }
  
  .review-form {
    margin-bottom: 40px;
  }
  
  .review-form input, .review-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .review-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #6da9cc;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .review-form button:hover {
    background-color: #09517a;
  }
  
  .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .stars .star {
    font-size: 32px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .stars .star:hover,
  .stars .star.selected {
    color: #FFD700;
  }
  
  .reviews {
    margin-top: 40px;
  }
  
  .review {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
  }
  
  .review h4 {
    font-size: 18px;
    color: #007BFF;
  }
  
  .review p {
    margin: 5px 0;
  }
  
  .review .stars-review .star {
    font-size: 22px;
    color: #FFD700;
  }
  
  /* Botão de upload de imagem */
  .custom-file-upload {
    display: block;
    background-color: #6da9cc;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: fit-content;
  }
  
  input[type="file"] {
    display: none;
  }
  
  #imagePreview img {
    max-width: 100px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  
  /* Botão de exclusão */
  .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  
  .delete-btn:hover {
    background-color: #ff1a1a;
  }
  
  .review {
    position: relative;
  }
  
  /* Outros estilos permanecem os mesmos */
  
  
  
  
  
  /* Estilos botao WhattsApp */
  
  /* Estilo do botão de WhatsApp flutuante */
  #whatsappFloatButton {
    position: fixed;
    bottom: 20px; /* Distância do botão da parte inferior da tela */
    right: 20px; /* Distância do botão do lado esquerdo da tela */
    background-color: #25D366; /* Cor do botão */
    border-radius: 50%; /* Faz o botão redondo */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar elevação */
    z-index: 1000; /* Garante que o botão fique sobre outros elementos */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
  }
  
  #whatsappFloatButton:hover {
    background-color: #128C7E; /* Cor do botão ao passar o mouse */
  }
  
  #whatsappFloatButton img {
    width: 35px; /* Largura do ícone */
    height: 35px; /* Altura do ícone */
  }
  
