.navbar {
    width: 100%;
    background-color: #02cbe6;
    border-radius: 30px;
  }
  
  .navbar-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    flex: 20px; /* Isso define que cada item ocupará 20% da largura disponível */
    text-align: center;
    padding: 15px;
    color: white;
  }
  
  .menu-item:hover {
    background-color: #555;
  }

  .logo{
    display: flex;
    color: aliceblue;
    justify-content: center;
    height: 50px;
  }

  .menu-item:hover{
    background-color: white;
    color: #555;
    border-radius: 30px;
  }

  .carousel {
    position: relative;
    width: 20x;
    max-width: 300px;
    margin: auto;
    overflow: hidden;
    margin-top: 150px;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    padding: 16px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    user-select: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  .titulo{
    display: flex;
    justify-content: center;    
  }

  .frete-gratis{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 0px solid;
    height: 200px;
    width: 100%;
    margin-top: 150px;
  }

  .caminhao-frete{
    display: flex;
    width: 200px;
    animation: caminhao-animation 5s infinite linear;
    
  }

  @keyframes caminhao-animation{
    from{
        margin-left: -1200px;
    }
    to{
        margin-left: 1200px;
    }
  }

  .whatsapp-service {
    background-color: #25D366; /* Cor do fundo no tom do WhatsApp */
    color: white;
    padding: 20px;
    border-radius: 30px;
    max-width: 800px;
    margin: auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
  }
  
  .whatsapp-service h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .whatsapp-service p {
    font-size: 16px;
    line-height: 1.5;
  }

  .whatsapp-badge {
    display: inline-flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .whatsapp-badge img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .whatsapp-badge:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  
  .whatsapp-popup {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 20px 15px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    z-index: 1000;
    animation: popup 5s infinite linear;
  }
  
  .whatsapp-popup .whatsapp-button {
    display: inline-flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
  }
  
  .whatsapp-popup img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .whatsapp-popup .close-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  @keyframes popup {
    from {
      transform: scale(0.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
